{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', path='main.js') }}"></script>
<h1>Logs - {{ job.name }}</h1>
<div class="ui segment">
    <h3>Command</h3>
    <pre><code class="bash">{{ job.command }}</code></pre>
</div>
<div class="ui segment">
    <h3>Schedule</h3>
    <pre><code class="bash">{{ job.schedule }}</code></pre>
</div>
<div class="ui segment">
    <h3>Output</h3>
    <pre><code>{{ log_content }}</code></pre>
</div>
<a href="/" class="ui button">← Back to Jobs</a>
<br><br>
{% endblock %}